h2, h3{
    text-decoration: underline;
}

.jumbotron{
    background: $alice-blue;
}

.footer{
    margin-top: 60px;
}

footer{
    background: $black;
    position: fixed;
    color: white;
    padding: 10px 0 0 0;
    bottom: 0px;
    width: 100%;
}




